@import "tailwindcss";

@font-face {
  font-family: "Seven Segments";
  src: url("/seven-segment.ttf");
}

:root {
  --background: #000000;
  --foreground: #ff4a02;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Seven Segments";
}

p {
  mix-blend-mode: plus-lighter;
}

p::selection {
  mix-blend-mode: normal;
  background-color: var(--foreground);
  color: var(--background);
}
