@import 'tailwindcss';

@font-face {
  font-family: 'Seven Segments';
  src: url('/seven-segment.ttf');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Helvetica Neue LT Pro 65 Medium.woff2');
}

:root {
  --background: #000000;
  --foreground: #ff4a02;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

@theme {
  --font-seven-segments: 'Seven Segments', monospace;
  --font-sans: Helvetica Neue, Arial, sans-serif;
  --aspect-image: 3 / 4;
  --spacing-sm: 1.35rem;
  --spacing-base: 1.45rem;
}

@layer base {
  html {
    @apply h-full overflow-y-scroll;
  }
  body {
    @apply bg-background text-foreground min-h-full;
  }
}

@layer components {
  .rich-text > * + * {
    @apply mt-[1em];
  }

  .sun-1 {
    background: linear-gradient(
      180deg,
      hsl(9, 69%, 57%) 0%,
      hsl(348, 32%, 66%) 23.56%,
      hsl(27, 91%, 66%) 51.92%,
      hsl(15, 82%, 55%) 72.45%,
      hsl(1, 74%, 49%) 82.12%,
      hsl(355, 31%, 18%) 97.71%
    );
  }

  .sun-2 {
    background: linear-gradient(
      180deg,
      hsl(348, 11%, 43%) 0%,
      hsl(334, 29%, 34%) 20.19%,
      hsl(0, 60%, 41%) 42.31%,
      hsl(338, 60%, 41%) 53.85%,
      hsl(0, 85%, 6%) 91.35%
    );
  }

  .sun-3 {
    background:
      linear-gradient(
        180deg,
        hsl(217, 100%, 14%) 0%,
        hsl(217, 52%, 25%) 14.42%,
        hsl(217, 36%, 35%) 25.96%,
        hsl(30, 54%, 46%) 48.08%,
        hsl(28, 100%, 35%) 76.44%,
        hsl(247, 29%, 9%) 100%
      ),
      linear-gradient(
        180deg,
        hsl(348, 11%, 43%) 0%,
        hsl(334, 29%, 34%) 20.19%,
        hsl(0, 60%, 41%) 42.31%,
        hsl(338, 60%, 41%) 53.85%,
        hsl(0, 0%, 0%) 91.35%
      );
  }

  .sun-4 {
    background: linear-gradient(
      180deg,
      hsl(210, 29%, 42%) 2.88%,
      hsl(237, 10%, 50%) 13.94%,
      hsl(320, 13%, 55%) 33.65%,
      hsl(20, 41%, 63%) 50.96%,
      hsl(207, 24%, 37%) 76.44%,
      hsl(210, 54%, 13%) 100%
    );
  }

  .sun-5 {
    background: linear-gradient(
      180deg,
      hsl(225, 12%, 45%) 12.02%,
      hsl(270, 9%, 38%) 43.27%,
      hsl(233, 21%, 20%) 65.39%,
      hsl(0, 0%, 6%) 100%
    );
  }
}
