@import "tailwindcss";

@font-face {
  font-family: "Seven Segments";
  src: url("/seven-segment.ttf");
}

:root {
  --background: #000000;
  --foreground: #ff4a02;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Seven Segments";
}

p {
  mix-blend-mode: plus-lighter;
}

p::selection {
  mix-blend-mode: normal;
  background-color: var(--foreground);
  color: var(--background);
}

.blur-mask {
  position: relative;
}

.blur-mask::after {
  --blur: 4px;
  content: "";
  position: absolute;
  inset: calc(-1 * var(--blur));
  backdrop-filter: blur(var(--blur));
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 30%,
    black 80%
  );
}

.sun-1 {
  background: linear-gradient(
    180deg,
    #e2503c 0%,
    #c28586 23.56%,
    #f69f5c 51.92%,
    #e9552d 72.45%,
    #de2123 82.12%,
    #3e1b1d 97.71%
  );
}

.sun-2 {
  background: linear-gradient(
    180deg,
    #7a6163 0%,
    #713e50 20.19%,
    #aa2b2b 42.31%,
    #a42944 53.85%,
    #1f0303 91.35%
  );
}

.sun-3 {
  background: linear-gradient(
      180deg,
      #001f46 0%,
      #1f3a62 14.42%,
      #385079 25.96%,
      #b76c33 48.08%,
      #b14500 76.44%,
      #120f20 100%
    ),
    linear-gradient(
      180deg,
      #7a6163 0%,
      #713e50 20.19%,
      #aa2b2b 42.31%,
      #a42944 53.85%,
      #000 91.35%
    );
}

.sun-4 {
  background: linear-gradient(
    180deg,
    #4d6f8c 2.88%,
    #717388 13.94%,
    #98788b 33.65%,
    #c38479 50.96%,
    #486577 76.44%,
    #112434 100%
  );
}

.sun-5 {
  background: linear-gradient(
    180deg,
    #687182 12.02%,
    #645666 43.27%,
    #2a2d3c 65.39%,
    #101010 100%
  );
}
